docopt
numpy
pandas
h5py
adios2
matplotlib
qiskit
pylatexenc
pyyaml
torch

nvidia-cusparse-cu12
nvidia-cublas-cu12
nvidia-cuda-runtime-cu12
custatevec_cu12

pennylane
pennylane-qiskit
pennylane-lightning
pennylane-lightning[gpu]
pennylane-lightning[kokkos]

mkdocs
mkdocstrings[python]